@font-face {
    font-family: "LXGW";
    src: url("../../assets/fonts/LXGWWenKaiTC-Regular.ttf") format("truetype");
}

* {
    font-family: "LXGW";
    font-size: 20px;
}
button {
    width: 150px;
    height: 40px;
    background-color: transparent;
    border-width: 2px;
    border-color: #555;
    border-radius: 5px;
    padding: 2px;
    margin: 5px;
    text-align: center;
    transition-duration: 0.2s;
}
button:hover {
    background-color: #777;
    color: white;
    cursor: pointer;
}

h1 {
    color: #0099ff;
    text-align: center;
    font-size: 40px;
}
h2 {
    font-size: 26px;
}

.flex_container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    flex-wrap: wrap;
}

.centered {
    text-align: center;
}

.Avators {
    display: block;
    width: 150px;
    margin: 10px auto;
}

/* lavalamp navigation bar */
.lavalamp__object {
    box-shadow: 0 0 5px 0 #999 inset;
}
#navList {
    background-color: #bde7ff;
    text-align: center;
}
#navList > li {
    color: rgb(45, 42, 255);
    font-size: 22px;
    display: inline-block;
    padding: 10px 20px;
}
#navList > li > a {
    color: white;
    text-decoration: none;
}
#navList > li:hover {
    cursor: pointer;
}
