@font-face {
    font-family: "LXGW";
    src: url("../../res/fonts/LXGWWenKaiTC-Regular.ttf") format("truetype");
}

* {
    font-family: "LXGW";
}

button {
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: 20px;
}

h1 {
    color: #0099ff;
}

.lavalamp__object {
    box-shadow: 0 0 5px 0 #999 inset;
}

/* navigation bar */
#navList {
    background-color: #bde7ff;
    text-align: center;
}
#navList > li {
    color: rgb(45, 42, 255);
    font-size: 20px;
    display: inline-block;
    padding: 10px 20px;
}
#navList > li > a {
    color: white;
    text-decoration: none;
}

/* dev tool */
#pg_dev * {
    font-family: "Noto Serif TC";
}
#pg_dev code {
    font-family: "Ubuntu Mono";
    background-color: #d3d3d3;
    padding: 5px;
    border-radius: 5px;
}
#pg_dev .container {
    display: flex;
}
#pg_dev .column {
    border: 2px black solid;
    margin: 10px;
    padding: 10px;
}
#pg_dev input {
    width: 100px;
}
#pg_dev label {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}
#pg_dev fieldset {
    margin-top: 10px;
}
#pg_dev textarea {
    margin: 10px;
    width: 90%;
    height: 100px;
    font-family: "Ubuntu Mono";
}
#pg_dev button {
    background-color: transparent;
    border-width: 2px;
    border-color: #0d0070;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: medium;
    transition-duration: 0.2s;
}
#pg_dev form button {
    width: min-content;
}
#pg_dev button:hover {
    background-color: #4e86ff;
    color: white;
}
#pg_dev .res-box {
    margin: 10px;
}
#pg_dev .res-title {
    margin: 0;
    font-weight: bold;
}
#pg_dev .res-body {
    margin: 0;
    padding-left: 10px;
}
#pg_dev .msg {
    margin: 10px 150px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px black solid;
    font-size: larger;
    display: flex;
    align-items: center;
}
#pg_dev .msg button {
    border: none;
    text-decoration: underline;
}
#pg_dev .msg button:hover {
    background: none;
    color: black;
}
#pg_dev .msg-info {
    border: 2px #7bcaff solid;
    background-color: #def2ff;
}
#pg_dev .msg-warning {
    border: 2px #fdff7b solid;
    background-color: #fffdde;
}
#pg_dev .msg-error {
    border: 2px #ff7b7b solid;
    background-color: #ffdede;
}
