/* level challenge page */
.infobox {
    margin: 20px auto;
    border: 1px solid #000;
    border-collapse: collapse;
}
.infobox th,
.infobox td {
    text-align: center;
    padding: 5px;
    width: 150px;
    border: 1px solid #000
}
.infobox .colored {
    background-color: #DDD;
    width: 110px;
}

#boss_match_result_list {
    width: 600px;
    border-top: 1px solid #000;
    padding: 20px 50px 0 50px;
}
#boss_match_result_list li {
    margin: 10px;
}
#boss_match_result_summary {
    width: 600px;
    list-style: none;
}
#boss_match_result_summary li {
    margin: 10px;
}