/* myholo page */
.Player_info {
    font-weight: bold;
}

.abilitybox {
    margin: 20px auto;
    border: 0px solid #000;
    border-collapse: collapse;
    font-size: 22px;
}
.abilitybox tr {
    border: 1px solid #000;
}
.abilitybox th,
.abilitybox td {
    text-align: left;
    padding: 10px 15px;
    /* border: 1px solid #000 */
}

.button_abil_add {
    padding: 0;
    margin: 0 5px;
    border: none;
    width: fit-content;
    height: fit-content;
}
.button_abil_add:hover {
    cursor: pointer;
    background-color: transparent;
    color: #000;
}

#my_streams {
    margin: 5px;
}
#my_streams th,
#my_streams td {
    padding: 2px 5px;
}
#my_streams tr:hover {
    background-color: #ccc;
    cursor: pointer;
}
